html {
	height: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	min-height: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: lightgray;
	width: 100%;
	height: 100vh;
}

.container__game {
	display: flex;
	flex-direction: column;
}

.container__scoreboard {
	height: 100px;
}

.container__result {
	height: 50px;
}

.container__buttons {
	display: flex;
	justify-content: space-around;
	width: 500px;
}

.container__buttons > *:hover {
	background-color: burlywood;
	border: 5px solid black;
}

.container__buttons > * {
	text-align: center;
	vertical-align: middle;
	line-height: 90px;
	border: 5px solid black;
	border-radius: 35px;
}

.container__button-rock {
	width: 100px;
	height: 100px;
	background-color: blanchedalmond;
}

.container__button-paper {
	width: 100px;
	height: 100px;
	background-color: blanchedalmond;
}

.container__button-scissors {
	width: 100px;
	height: 100px;
	background-color: blanchedalmond;
}